<div class="contextual">
	<%= link_to l(:label_holidays), {:controller => 'holidays', :action => 'index'} %>
</div>

<h2><%= l(:monthly_summary_title)%></h2>

<%= render :partial => 'form' %>

<% content_for(:header_tags) do %>
<%= stylesheet_link_tag 'attendance_tracking.css', :plugin => 'attendance_tracking', :media => 'all' %>
<%= javascript_include_tag 'attendance_tracking.js', :plugin => 'attendance_tracking' %>
<% end %>
